# dependencias
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# sistema
.DS_Store
Thumbs.db

# entorno
.env

# compilados / temporales
dist/
build/
tmp/
.cache/
*.zip
*.tar
*.gz

# VSCode configs
.vscode/
